/* ==========================================================================
      Custom CSS for website
      ========================================================================== */


#site-head {
    background: #4571D6 no-repeat center center;
}

.inner {
    max-width: 2000px;
}

#site-head-content p {
    font-size: 1.5rem
}
#site-head-content ol {
    font-size: 1rem;
    text-align: left;
    line-height: 1.4rem;
    padding: 0;
}